.font-bebas {
  font-family: 'Bebas Neue',cursive;
}

.font-vibes {
  font-family: 'Great Vibes', cursive;
}

.font-opensans {
  font-family: 'Open Sans', sans-serif;
}

.font-sirin {
  font-family: 'Sirin Stencil', cursive;
}

.navbar {
  transition: background 0.3s, backdrop-filter 0.3s;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.7); /* Atur warna sesuai kebutuhan */
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* laptop */
@media (max-width: 992px){
    html{
        font-size: 90%;
    }
}

@media (max-width:880px){
    html{
        font-size: 80%;
    }
}

@media(max-width: 576px){
    html{
        font-size: 64%;  
    }
    
} 

html, body {
  overflow-x: hidden;
}

.harizontalscrolbar::-webkit-scrollbar{
  width: 0;
}


@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-8px); }
  50% { transform: translateX(8px); }
  75% { transform: translateX(-8px); }
}

.shake {
  animation: shake 0.5s;
}

/* Thumbnail aktif highlight */
    #thumbnail-slider .splide__slide.is-active img {
      border: 2px solid #3b82f6;
      border-radius: 6px;
    }

